body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5px 10px;
  background-color: rgb(130, 209, 134);
}
